body {
  font-family: Arial, Helvetica, sans-serif;
  color: #777;
  background-color: #777;
  width: 100%;
  font-size: 18px;
  text-align: center;
}

header {
  background-color: #ebebeb;
  padding: 10px;
  margin: 35px;
  width: 80%;
  height: 50px;
  position: relative;
  left: 75px
}

nav {
  background-color: #ebebeb;
  padding: 10px;
  margin: 35px;
  width: 80%;
  height: 50px;
  position: relative;
  left: 75px
}

section {
  background-color: #ebebeb;
  float: left;
  height: 250px;
  width: 480px;
  padding: 20px;
  margin: 35px;
  z-index: -2;
  position: relative;
  left: 75px
}

article {
  background-color: #777;
  color: #ebebeb;
  position: relative;
  z-index: -1;
  height: 200px;
  width: 440px;
  margin: 25px;
}

aside {
  background-color: #ebebeb;
  float: right;
  height: 250px;
  width: 425px;
  padding: 20px;
  margin: 35px;
  margin-right: 120px;
  left: 0px;
}

h1, p {
  color: #777;
  background-color: #ebebeb;
  padding: 10px;
  margin: 15px;
  top: 15px;
  height: 45px;
  width: 380px;
  border: 20px;
}

footer {
  clear: both;
  background-color: #ebebeb;
  padding: 10px;
  margin: 35px;
  width: 80%;
  height: 50px;
  position: relative;
  left: 75px
}
